


development_note/

.idea/.gitignore
.idea/chrisiven.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
!articles/
!chrisiven/
db.sqlite3
!environment/
!manage.py
!scripts/
!templates/
!users/
!utils/
